<div class="container" id="feedback">
    <div class="contact__box--feedback">
        <form action="/feedback" method="POST" class="feedback__form" id="form-1">
            <div class="feedback__form__heading">
                <h1>Phản hồi của Người dùng</h1>
            </div>
            <div class="feedback__form__group">
                <label for="fullname" class="feedback__form__label">Tên Người dùng</label>
                <input id="fullname" name="fullname" type="text" placeholder="VD: Nguyễn Văn Quyền" class="feedback__form__input">
                <span class="feedback__form__message"></span>
            </div>
            <div class="feedback__form__group">
                <label for="occupation" class="feedback__form__label">Nghề nghiệp</label>
                <input id="occupation" name="occupation" type="text" placeholder="VD: học sinh/sinh viên/giáo viên" class="feedback__form__input">
                <span class="feedback__form__message"></span>
            </div>
            <div class="feedback__form__group">
                <label for="text" class="feedback__form__label">Nội dung phản hồi</label>
                <textarea name="text" placeholder="Nhập nội dung phản hồi" class="feedback__form__textarea"></textarea>
                <span class="ffeedback__form__message"></span>
            </div>
            <button class="feedback__form--submit">Gửi</button>
        </form>
    </div>
</div>
<style>
    .feedback__form--submit {
        background-color: #4CAF50; /* Màu nền của nút */
        color: white; /* Màu chữ mặc định là trắng */
        padding: 10px 20px; /* Khoảng cách xung quanh chữ */
        border: none; /* Không có đường viền */
        cursor: pointer; /* Con trỏ khi di chuột qua */
        font-size: 16px; /* Kích thước chữ */
        border-radius: 5px; /* Bo tròn góc */
    }

    /* Màu chữ luôn xanh */
    .feedback__form--submit:hover {
        color: white; /* Giữ màu chữ trắng khi hover */
        background-color: #4CAF50; /* Giữ màu nền khi hover */
    }


</style>
